name: CI

on:
  workflow_dispatch:

  release:
    types: [published]

jobs:
  build_client:
    name: Build Client (${{ matrix.os }})
    #if: startsWith(github.ref, 'refs/tags/')
    strategy:
      matrix:
        os: [custom-macos]
        #os: [macos-latest,  windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node
        uses: actions/setup-node@v3
      - name: Fetch latest client
        uses: actions/checkout@v3
        with:
          repository: the-dream-forge/yugen-saga-client
          fetch-depth: 1
          ref: gh-pages
          token: ${{ secrets.GH_CLIENT_REPO_PAT }}
          path: game
      - name: PWD
        run: |
          pwd
          ls -la
      - name: Update package.json version
        #if: matrix.os == 'macos-latest'
        if: matrix.os == 'custom-macos'
        run: |
          sed -i 's/"version": ".*"/"version": "${{ github.event.release.tag_name }}"/' package.json
      - name: Check the main repo
        working-directory: game
        run: |
          pwd
          ls -la
      - name: NPM Install
        run: npm install
      - name: Add MacOS certs
        #if: matrix.os == 'macos-latest'
        if: matrix.os == 'custom-macos'
        run: chmod +x add-macos-cert.sh && ./add-macos-cert.sh
        env:
          CERTIFICATE_OSX_APPLICATION: ${{ secrets.CERTIFICATE_OSX_APPLICATION }}
          CERTIFICATE_PASSWORD: ${{ secrets.CERTIFICATE_PASSWORD }}
      - name: Make
        run: npm run dist
        env:
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            ./dist/**/*.deb
            ./dist/**/*.dmg
            ./dist/**/*Setup.exe
            ./dist/**/*.rpm
            ./dist/**/*.zip
